body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-right: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: #ffa500;
}

section{
    display: flex;
    margin-bottom: 10px;
}

.half-width{
    width: 50%;
    
}

.half-width-text1{
    padding-left: 15%;
}

.half-width p{
    text-align: justify;
}

.half-width-img1{
    width: 100%;
    padding-top: 5%;
    padding-left: 15%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fffefe;
    font-weight: 700;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}


.half-width-img2{
    width: 100%;
    padding-top: 0;
    padding-left: 0;
}

.half-width-text2{
    padding-left: 0;
    padding-top: 10%;
}